<!DOCTYPE html>
<html>
<head>
	<!--  This line gives an error -->
	<% include partials/template/head.ejs %>
</head>
<body>
	<% include partials/template/header.ejs %>
	<% include partials/content/userSignupContent.ejs %>
</body>
</html>
