<!DOCTYPE html>
<html>
  <head>
    <% include /../partials/template/head.ejs %>
    <% include /../partials/template/sponsor_header.ejs %>
  </head>
  <div class="container-fluid">
    <body>
      <div class="row col-md-offset-4 col-md-4 text-center">
        <p><big>We are</big></p>
      </div>
      <div class="row col-md-offset-3 col-md-6 text-center" id="sponsorName">
        <a href="http://www.dogwelfarealliance.com/"><p>The Alliance of Dog Wellfare</p></a>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="text-center">
            <p>Thanks to people like you, we've donated<p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center" id="moneydonated">
          <p>$500,145</p>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <p>We are proud to be helping these 2 causes:</p>
        </div>
      </div>
      <div class="row well well-lg">
          <div class="col-md-offset-3 col-md-2">
            <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" height="150" width="150">
          </div>
          <div class="col-md-4">
            <p><big><strong>Poweshiek Animal League Shelter</strong></big></p><br>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
      </div>
      <div class="row well well-lg">
          <div class="col-md-offset-3 col-md-2">
            <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" height="150" width="150">
          </div>
          <div class="col-md-4">
            <p><big><strong>Poweshiek Animal League Shelter</strong></big></p><br>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
      </div>
      <!-- Connects to Bootstrap-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/js/bootstrap.js"></script>
    </body>
  </div>
  <!-- Foot of the page-->
  <% include /../partials/template/sponsor_footer.ejs %>
</html>
