extends ../layout

block scriptsAfterContent
  //- Import scripts for editing markdown
  script(type='text/javascript', src="/simplemde/node_modules/codemirror/lib/codemirror.js")
  link(rel="stylesheet" href="/simplemde/dist/simplemde.min.css")
  script(type='text/javascript', src="/simplemde/dist/simplemde.min.js")
  script(type='text/javascript', src='/js/newstory_md.js')
  script(type='text/javascript') simplemde.value(!{JSON.stringify(storyBody_md)})
  
  //- Google Maps location search integration
  link(rel="stylesheet" href="/css/locationSearch.css")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGpkOOr3Uahd29AOHbI_dN8zR4OIHbnoY&libraries=places&callback=initAutocomplete" async defer)
  script(type='text/javascript', src='/js/locationSearch.js')

block content
  h1= title
  
  if errors
    br      
    h2 Form Errors:
    ul
      for error in errors
        li=error.msg
  
  form#formAddStory(name='addStory', method='post', action='/story/add', enctype="multipart/form-data")
    div.form-group
      label(for='inputTitle') Story Title
      input#inputTitle.form-control(type='text', placeholder='Story Title', name='title', required='true', value=(undefined===story ? '' : story.title))
    div.form-group
      label(for='inputDescription') Story Description
      input#inputDescription.form-control(type='text', placeholder='Enter description...', name='description', required='true', value=(undefined===story ? '' : story.description))
    div.form-group
      label(for='inputTargetDonation') Fund Goal
      input#inputTargetDonation.form-control(type='number', name='targetDonation', min=0, placeholder="$100", required='true', value=(undefined===story ? '' : story.targetDonation))
    div.form-group
      label(for='inputEndDate') Closing Date
      input#inputEndDate.form-control(type='date', name='endDate', required='true', value=(undefined===story ? '' : story.closingDate.toISOString().slice(0,10)))
        
    //- Location form fields 
    div.form-group
      div#locationField
        input#locationAutocomplete(placeholder='Enter your address', onfocus='geolocate()', type='text')
      table#address
        tr
          td.label Street address
          td.wideField(colspan='3')
            input#route.field(type='text', name='streetAddress')
        tr
          td.label City
          td.wideField(colspan='3')
            input#locality.field(type='text', name='city', required='true')
        tr
          td.label State
          td.slimField
            input#administrative_area_level_1.field(type='text', name='state', required='true')
          td.label Zip code
          td.wideField
            input#postal_code.field(type='number', name='zipCode', required='true')
            
    div.form-group
      label(for='inputThumbnail') Upload a thumbnail
      input#inputThumbnail.form-control-file(type='file', name='thumbnail', aria-describedby="thumbnailHelp", accept='image/*', required='true')
      small#thumbnailHelp(class="form-text text-muted") Make sure its square!
    div.form-group
      label(for='storyBody') Story body
      textarea#inputStoryBody.form-control(name='storyBody', placeholder='Tell your story.', rows=10)
    div
      input#inputSubmit(type='submit', class="btn btn-primary", value='Submit')
