extends ../layout

block scriptsAfterContent  
  //- Google Maps location search integration
  link(rel="stylesheet" href="/css/locationSearch.css")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGpkOOr3Uahd29AOHbI_dN8zR4OIHbnoY&libraries=places&callback=initAutocomplete" async defer)
  script(type='text/javascript', src='/js/locationSearch_noStreetAdress.js')

block content
  
  if errors
    div.alert.alert-danger
      h2 Search Error:
      ul
        each error in errors
          li=error.msg
  
  form#formSearchStory(name='searchStory', action='/story/')
    div.form-group
      label(for='inputTitle') Key words
      input#inputTitle.form-control(type='text', placeholder='Search title or description...', name='sq', value=((query) && (query.sq) ? query.sq : '' ))
    div.form-group
      label(for='inputEndDate') Story ends before
      input#inputEndDate.form-control(type='date', name='endDate', value=(((query) && (query.endDate)) ? query.endDate.toISOString().slice(0,10) : '' )) 
    //- Location form fields 
    div.form-group
      label Story matches location
      div#locationField
        input#locationAutocomplete(placeholder='Enter an address', onfocus='geolocate()', type='text')
      table#address
        tr
          td.label City
          td.wideField(colspan='3')
            input#locality.field(type='text', name='city', value=((query) && (query.city) ? query.city : '' ))
        tr
          td.label State
          td.slimField
            input#administrative_area_level_1.field(type='text', name='state',, value=((query) && (query.state) ? query.state : '' ))
          td.label Zip code
          td.wideField
            input#postal_code.field(type='number', name='zipCode', , value=((query) && (query.zipCode) ? query.zipCode : '' ))
    div
      input#inputSubmit(type='submit', class="btn btn-primary", value='Search')
