<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> User Signup</h1>

    <!-- LOGIN FORM -->
    <form action="/usersignup" method="post">
        <h4><span class="fa fa-sign-in"></span> Login Information</h4>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input type="repeat_password" class="form-control" name="password">
        </div>

        <h4><span class="fa fa-sign-in"></span> Additional Information</h4>
        <div class="form-group">
            <label>Field 1</label>
            <input type="repeat_password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Field 2</label>
            <input type="repeat_password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Field 3</label>
            <input type="repeat_password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">User Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
