/*
    Created on : Aug 4, 2017, 10:42:07 AM
    Author     : Jonah
*/

.footer {
    background: skyblue;
    color: white;
}

.body {
    padding-top: 70px;
}

.navbar {
    background: skyblue;
    border-bottom: 4px solid #33336 !important;
}

.navbar a {
  color:#ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar a:hover {
  font-weight: bold;
}

.footer, .li {
    font-size: 20px;
}

#showcase {
  min-height:400px;
  background: url('https://img.cinemablend.com/cb/6/6/9/3/d/8/6693d8767255814f5dce60d5a1d0e5afb4f80b0a714b700a508c1a89b156f622.jpg') no-repeat;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

.button_1 {
  height: 38px;
  background: skyblue;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
  height: 90px;
}

#profpic {
  height: 90px;
  width: 90px;
}

#profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
