<!DOCTYPE html>
<html>
  <head>
    <% include /../partials/template/head.ejs %>
    <% include /../partials/template/story_type_header.ejs %>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-offset-4 col-md-4 text-center'>
          <p><strong>Memorial Causes</strong></p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://image.desiringgod.org/your-hospital-visit-is-coming-drd9pkdf-en/landscape/large_your-hospital-visit-is-coming-drd9pkdf.jpg?1460487705" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Immediate Surgery Needed!</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-offset-4 col-md-2'>
          <a href="/memorial">
            <button type="button" class="btn btn-primary btn-block">Previous</button>
          </a>
        </div>
        <div class='col-md-2'>
          <a href="/memorial">
            <button type="button" class="btn btn-primary btn-block">Next</button>
          </a>
        </div>
      </div>
    </div>
  </body>
  <% include /../partials/template/story_type_footer.ejs %>
  </html>
