<!DOCTYPE html>
<html>
  <head>
    <title>RobinGood</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/HeadFoot.css">
    <div class="container navbar navbar-static-top"><a href="Home.html" class="navbar-brand">RobinGood</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Causes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/medical">Medical</a></li>
            <li><a href="/animal">Animals</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/emergencies">Emergencies</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/memorial">Memorial</a></li>
            <li><a href="/health">Health</a></li>
            <li><a href="/community">Community Building</a></li>
            <li><a href="/other">Other</a></li>
          </ul>
        </li>
        <li><a href="AboutUs.html">About Us</a></li>
        <li><a href="Advertise.html">Advertise</a></li>
        <li><a href="StartACause.html">Start A Cause</a></li>
        <li><a href="Login.html">Log In</a></li>
        <li><a href="CreateAUserAccount.html">Create An Account</a></li>
        <li>
          <form action="searchfile">
            <button type="submit" class="btn btn-info">Search:</button>
            <input type="text" name="search">
          </form>
        </li>
      </ul>
    </div>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-offset-4 col-md-4 text-center'>
          <p><strong>Volunteer Causes</strong></p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class="row">
        <a href="/story">
          <div class="well well-lg">
            <div class="col-md-offset-3 col-md-2">
              <img id='img-story' src="https://i.pinimg.com/736x/99/d0/8e/99d08e6220250003b19833c6bd033dc8--volunteer-quotes-volunteer-week.jpg" height="150" width="150">
            </div>
            <div class="col-md-4">
              <p><big><strong>Volunteers United</strong></big></p><br>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </a>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-offset-4 col-md-2'>
          <a href="/volunteer">
            <button type="button" class="btn btn-primary btn-block">Previous</button>
          </a>
        </div>
        <div class='col-md-2'>
          <a href="/volunteer">
            <button type="button" class="btn btn-primary btn-block">Next</button>
          </a>
        </div>
      </div>
    </div>
  </body>
  <div class="footer">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Links</h2>
        <ul class="list-unstyled">
          <li><a href="/home">Home</a></li>
          <li><a href="/updatestory">Causes</a></li>
          <li><a href="/updatestory">Start A Cause</a></li>
          <li><a href="/sponsorlogin">Advertise</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h2>About</h2>
        <ul class="list-unstyled">
          <li><a href="/about">About Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="facebook.com">Facebook</a></li>
          <li><a href="twitter.com">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h2>Contact Us</h2>
        <ul class="list-unstyled">
          <li>Grinnell, IA</li>
          <li>1-555-robingo</li>
          <li>RobinGood@hotmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  </html>
