<div class='container navbar navbar-static-top'>
  <a href="/home" class='navbar-brand'>RobinGood</a>
  <ul class='nav navbar-nav navbar-right'>
    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Causes<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/story_types/medical">Medical</a></li>
        <li><a href="/story_types/animal">Animals</a></li>
        <li><a href="/story_types/volunteer">Volunteer</a></li>
        <li><a href="/story_types/education">Education</a></li>
        <li><a href="/story_types/emergencies">Emergencies</a></li>
        <li><a href="/story_types/sports">Sports</a></li>
        <li><a href="/story_types/memorial">Memorial</a></li>
        <li><a href="/story_types/health">Health</a></li>
        <li><a href="/story_types/community">Community Building</a></li>
        <li><a href="/story_types/other">Other</a></li>
      </ul>
    </li>
    <li><a href='/about'>About Us</a></li>
    <li><a href='/sponsor/sponsorsignup'>Advertise</a></li>
    <li><a href='/story/new'>Start A Cause</a></li>
    <li><a href='/user/userlogin'>Log In</a></li>
    <li><a href="/user/usersignup">Create An Account</a></li>
    <li>
      <form action="/story/">
        <button class='btn btn-info' type='submit'>Search:</button>
        <input type="text" name='sq'>
      </form>
    </li>
  </ul>
</div>
