<div class="footer">
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>Links</h2>
      <ul class="list-unstyled">
        <li><a href="/home">Home</a></li>
        <li><a href="/storylist">Causes</a></li>
        <li><a href="/updatestory">Start A Cause</a></li>
        <li><a href="/sponsorlogin">Advertise</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <h2>About</h2>
      <ul class="list-unstyled">
        <li><a href="/about">About Us</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="facebook.com">Facebook</a></li>
        <li><a href="twitter.com">Twitter</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <h2>Contact Us</h2>
      <ul class="list-unstyled">
        <li>Grinnell, IA</li>
        <li>1-555-robingo</li>
        <li>RobinGood@hotmail.com</li>
      </ul>
    </div>
  </div>
</div>
