<header>
  <div class="jumbotron hidden-xs">
  </div><!-- jumbotron -->

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/" class="navbar-brand">Robin Good</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stories <span class="caret"><span></a>
            <ul class="dropdown-menu">
              <li><a href="/speakers">All stories</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </li>
          <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SignUp <span class="caret"><span></a>
            <ul class="dropdown-menu">
              <li><a href="/usersignup">User SignUp</a></li>
              <li><a href="/sponsorsignup">Sponsor SignUp</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </li>          <li><a href="/login">Log In</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul><!-- nav -->
      </div><!-- navbar-collapse -->
    </div><!-- container -->
  </nav>
</header>
