<div class='container navbar navbar-static-top'>
  <a href="/" class='navbar-brand'>RobinGood</a>
  <ul class='nav navbar-nav navbar-right'>
    <li class='dropdown'>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Causes<span class="caret"></span></a>
      <ul class='dropdown-menu'>
        <li><a href='MedicalCauses.html'>Medical</a></li>
        <li><a href='AnimalCauses.html'>Animals</a></li>
        <li><a href='VolunteerCauses.html'>Volunteer</a></li>
        <li><a href='EducationCauses.html'>Education</a></li>
        <li><a href='EmergenciesCauses.html'>Emergencies</a></li>
        <li><a href='SportsCauses.html'>Sports</a></li>
        <li><a href='MemorialCauses.html'>Memorial</a></li>
        <li><a href='HealthCauses.html'>Health</a></li>
        <li><a href='CommunityBuildingCauses.html'>Community Building</a></li>
        <li><a href="OtherCauses.html">Other</a></li>
      </ul>
    </li>
    <li><a href='/about'>About Us</a></li>
    <li><a href='/sponsorsignup'>Advertise</a></li>
    <li><a href='/story/new'>Start A Cause</a></li>
    <li><a href='/usersignup'>Log In</a></li>
    <li><a href="CreateAUserAccount.html">Create An Account</a></li>
    <li>
      <form action="searchfile">
        <button class='btn btn-info' type='submit'>Search:</button>
        <input type="text" name='search'>
      </form>
    </li>
  </ul>
</div>
