<div class='container navbar navbar-static-top'>
  <a href="/../home" class='navbar-brand'>RobinGood</a>
  <ul class='nav navbar-nav navbar-right'>
    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Causes<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/medical">Medical</a></li>
        <li><a href="/animal">Animals</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/emergencies">Emergencies</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/memorial">Memorial</a></li>
        <li><a href="/health">Health</a></li>
        <li><a href="/community">Community Building</a></li>
        <li><a href="/other">Other</a></li>
      </ul>
    </li>
    <li><a href='/../about'>About Us</a></li>
    <li><a href='/../sponsor/sponsorsignup'>Advertise</a></li>
    <li><a href='/../story/new'>Start A Cause</a></li>
    <li><a href='/../user/userlogin'>Log In</a></li>
    <li><a href="/../user/usersignup">Create An Account</a></li>
    <li>
      <form action="searchfile">
        <button class='btn btn-info' type='submit'>Search:</button>
        <input type="text" name='search'>
      </form>
    </li>
  </ul>
</div>
