<!DOCTYPE html>
<html>
<head>
  <% include ../partials/template/head.ejs %>
  <% include ../partials/template/user_header.ejs %>
</head>
<body id="<%= pageID %>">
<div>
  <br>
  <form action="/confirmation/:token" method="post" class="form-horizontal" role="form" style="width: 50%;">
    <p> Your user email has been verified </p>
  </form>
</div>
</body>
</html>
