<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
<body>
  <% include partials/template/header.ejs %>
  </div>
    <h1>404: Not Found</h1>
    <p>Sorry, that page doesn't exist... :'(</p>
  </div>
</body>
</html>
