<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
  <% include partials/template/general_header.ejs %>
</head>
<body>
</div>
  <br/>
  <form class="form-horizontal" role="form" style="width: 50%;">
    <% include partials/content/aboutContent.ejs %>

</form>
  </div>
</body>
<% include /partials/template/general_footer.ejs %>
</html>
