<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
  <% include partials/template/header.ejs %>
</div>
  <br/>
  <form class="form-horizontal" role="form" style="width: 50%;">
    <% include partials/content/faqContent.ejs %>
  </form>
</div>
</body>
</html>
