<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
  <% include partials/template/general_header.ejs %>
</head>
  <body>
    <section id='showcase'>
      <div class='container'>
        <h1>RobinGood: Making the World a Better Place One Donation at a Time</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ex sem. Quisque lobortis mi a sem suscipit, quis auctor nibh imperdiet.</p>
      </div>
    </section>
    <section id='newsletter'>
      <div class='container'>
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type='email' plaseholder='Enter Email...'>
          <button type='submit' class="button_1">Submit</button>
        </form>
      </div>
    </section>
    <section id='boxes'>
      <div class='container'>
        <div class='box'>
          <img src='https://cdn.dribbble.com/users/29245/screenshots/2252836/search.gif'>
          <h3>Find A Cause!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ex sem. Quisque lobortis mi a sem suscipit, quis auctor nibh imperdiet.</p>
        </div>
        <div class='box'>
          <img src='http://www.innerexpansionblog.com/wp-content/uploads/2016/04/Create.jpg'>
          <h3>Create A Cause!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ex sem. Quisque lobortis mi a sem suscipit, quis auctor nibh imperdiet.</p>
        </div>
        <div class='box'>
          <img src='https://a248.e.akamai.net/akamai-cache.trustedpartner.com/images/library/AFPFloridaCaucusPlanetPhilanthropy2012/sponsor-icon.png'>
          <h3>Sponsor A Cause!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ex sem. Quisque lobortis mi a sem suscipit, quis auctor nibh imperdiet.</p>
        </div>
      </div>
    </section>
  </body>
  <% include /partials/template/general_footer.ejs %>
  </html>
