doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/HeadFoot.css')
    .container.navbar.navbar-static-top
      a.navbar-brand(href='/') RobinGood
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Causes
            span.caret
          ul.dropdown-menu
            li
              a(href='/story_types/medical') Medical
            li
              a(href='/story_types/animal') Animals
            li
              a(href='/story_types/volunteer') Volunteer
            li
              a(href='/story_types/education') Education
            li
              a(href='/story_types/emergencies') Emergencies
            li
              a(href='/story_types/sports') Sports
            li
              a(href='/story_types/memorial') Memorial
            li
              a(href='/story_types/health') Health
            li
              a(href='/story_types/community') Community Building
            li
              a(href='/story_types/other') Other
        li
          a(href='/about') About Us
        li
          a(href='/sponsor/signup') Advertise
        li
          a(href='/story/new') Start A Cause
        li
          a(href='/user/userlogin') Log In
        li
          a(href='/user/usersignup') Create An Account
        li
          form(action='searchfile')
            button.btn.btn-info(type='submit') Search:
            input(type='text', name='search')
    block scriptsHeader
  body
    .container-fluid
      block content
    // Connects to Bootstrap
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.js')
    block scriptsAfterContent
  // Foot of the page
  footer
    .footer
      .row
        .col-md-4.text-center
          h2 Links
          ul.list-unstyled
            li
              a(href='/home') Home
            li
              a(href='/storylist') Causes
            li
              a(href='/story/new') Start A Cause
            li
              a(href='/sponsor/sponsorlogin') Advertise
        .col-md-4.text-center
          h2 About
          ul.list-unstyled
            li
              a(href='/about') About Us
            li
              a(href='/faq') FAQ
            li
              a(href='facebook.com') Facebook
            li
              a(href='twitter.com') Twitter
        .col-md-4.text-center
          h2 Contact Us
          ul.list-unstyled
            li Grinnell, IA
            li 1-555-robingo
            li RobinGood@hotmail.com
