<!-- <!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
<body>
  <% include partials/template/headerActiveContact.ejs %>
</div>
  <br/>
  <form class="form-horizontal" role="form" style="width: 50%;">
    <% include partials/content/contactForm.ejs %>
</form>
  </div>
</body>
</html> -->
