extends layout

block content
  // The login stuff
  .col-md-offset-4.col-md-4.text-center
    .well
      h2 Password Reset Request
      br
      // Put filename here
      form(action='putfilehere')
        label(for='email') Email:
        input(type='text', name='email')
        br
        br
        a(href='CheckYourEmail.html')
          button.btn-lg.btn-success(type='submit', value='passwordreset') Send me an email
