extends layout

mixin result-card(result)
  li.media
    div.media-body
      h4(class="mt-0 mb-1")= result.title
      a(href=result.uri) Link
      p.card-text= result.description

block content
  h1 Search Results
  - console.log(JSON.stringify(searchResults))
  ul.list-unstyled
    for result in searchResults.pageResults
      +result-card(result)
