extends layout

block content 
body
  // The login stuff
  br
  br
  .row
    .col-md-offset-4.col-md-4.text-center
      p Your email has been verified!
      br
      p
        | You can now explore
        a(href='Home.html') RobinGood
        |  and
        |                         support your favorite causes!
      br
      a(href='ProfilePage.html') Go to your profile
