extends layout

block content
  br
  br
  .row
    .col-md-offset-4.col-md-4
      .text-center
        h3 Thank you for signing up for RobinGood!
      p An email has been sent to the account's email address with further instructions!
